/* src/styles/login.css */

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #006A71;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 225px;
    margin-bottom: 10px;
}

.PL {
    font-size: 24px;
    font-weight: bold;
    color: #F2EFE7;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#showPassword {
    margin-right: 8px;
}

.Login-Button {
    background-color: #006A71;
    color: #F2EFE7;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.Login-Button:hover {
    background-color: #005055;
}

p {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #006A71;
    font-weight: bold;
}

.show-password-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

